* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #979797;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    padding: 40px 0;
}

.cv {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    position: relative;
    border-radius: 25px;
    background: #ffffff;
    box-shadow: 0 0 20px 20px #ffffff;
    z-index: 1;
}

.left-column {
    border-right: 2px solid #ccc;
    padding-right: 20px;
}

.name1 {
    font-size: 24px;
    font-weight: 100;
    text-transform: uppercase;
    position: relative;
}
.name {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.name::after {
    content: "";
    width: calc(100% + 80px);
    height: 25px;
    background: linear-gradient(to right,#ffffff00 4%,#fae9c1 16%);
    position: absolute;
    bottom: -25px;
    left: -60px;
    z-index: -1;
}

.job-title {
    font-size: 12px;
    font-weight: 300;
    color: #5a5555;
    margin-top: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.profile-photo {
    width: 50%;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
}

.contact-info {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.contact-info a {
    text-decoration: none;
    color: inherit;
}

.contact-info p {
    margin-bottom: 8px;
}

.right-column h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #333;
    text-transform: uppercase;
}

.section {
    margin-bottom: 20px;
}

.section p {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
    text-align: justify;
}

.education {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.row {
    display: grid;
    grid-template-columns: auto 10px 1fr;
    align-items: center;
    gap: 10px;
}

.row strong {
    width: 120px;
    text-align: left;
}

.row span {
    text-align: center;
}

.row p {
    text-align: left;
}

.experience ul {
    padding-left: 20px;
}

.experience li {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    body {
        height: auto;
        padding: 20px;
    }

    .cv {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .name::after {
        width: calc(100% + 130px);
        left: -70px;
        background: linear-gradient(to right,#ffffff00 4%,#fae9c1 16%,#fae9c1 85%,#97979700 96%);
    }

    .left-column {
        border-right: none;
        padding-right: 0;
        text-align: center;
        position: relative;
        padding-bottom: 20px;
    }

    .left-column::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -1px;
        width: 100%;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .profile-photo {
        width: 80px;
    }

    .row {
        flex-direction: column;
        gap: 2px;
    }
}
